<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Levels: OFF, ERROR, WA RN, INFO, DEBUG, TRACE and ALL.  -->
    <logger name="ch.uzh.csg" level="DEBUG"/>
    <logger name="org.bitcoinj" level="ERROR"/>

    <root level="debug">
        <appender-ref ref="LOGCAT" />
    </root>
</configuration>