<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coinblesk.client">

    <!-- permissions for wallet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- permissions for backup/restore -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- permissions for p2p communication -->
    <uses-permission android:name="android.permission.NFC" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- permissions for bluetooth/wifi discovery -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppThemeMaterial">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="bitcoin"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".TransactionDetailActivity"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.coinblesk.client.MainActivity"/>
        </activity>
        <activity
                android:name=".settings.SettingsActivity"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.coinblesk.client.MainActivity"/>
        </activity>
        <activity
                android:name=".about.AboutActivity"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.coinblesk.client.MainActivity"/>
        </activity>
        <activity
                android:name=".backup.BackupActivity"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.coinblesk.client.MainActivity"/>
        </activity>
        <activity
                android:name=".addresses.AddressActivity"
                android:label="@string/addresses"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.coinblesk.client.MainActivity"/>
        </activity>
        <activity
            android:name=".additionalservices.AdditionalServicesActivity"
            android:label="@string/additional_services"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.coinblesk.client.MainActivity"/>
        </activity>

        <activity
                android:name=".wallet.WalletActivity"
                android:label="@string/activity_wallet_title"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.coinblesk.client.MainActivity"/>
        </activity>

        <service android:name="com.coinblesk.payments.WalletService">
        </service>
        <service
                android:name="com.coinblesk.payments.communications.peers.nfc.NFCClientServiceCLTV"
                android:exported="true"
                android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>

            <meta-data
                    android:name="android.nfc.cardemulation.host_apdu_service"
                    android:resource="@xml/apduservice"/>
        </service>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.coinblesk.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>
